/**/target
*.jar
*.log*
*.tmp
*.lock
/**/webapp/file
/**/.classpath
/**/.project
/**/.settings
/**/node_modules
/**/.DS_Store
/**/repositories
/**/magnolia-activation-keypair.properties
/**/.idea
*.iml
*.ipr
*.iws
/**/.checkstyle
/**/rebel.xml
/**/file/**/*.bin
/**/cache/**/*.meta
/**/cache/**/*.data
/**/cache/**/*.index
/**/dist
